@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #18122b;
  color: #71698b;
  padding: 10px;
}

.navbar div {
  margin: 0 1em;
}

.navbar div:hover {
  color: white;
}
