@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://images6.alphacoders.com/613/thumb-1920-613932.png");
  background-size: cover;
}

#center {
  justify-self: center;
}

.bar {
  width: 250px;
  height: 50px;
  display: flex;
}

.bar input[type="text"] {
  width: 70%;
  height: 100%;
}
.bar input[type="button"] {
  width: 30%;
  height: 100%;
  background-color: rgba(101, 76, 37, 0.6);
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  background-color: rgba(0, 0, 0, 0.6);
}

.pokeDisplay {
  width: 400px;
  padding: 2em;
  background-color: beige;
  display: flex;
  border-radius: 1.5em;
}

.pokeDisplay img {
  width: 100px;
  height: 100px;
}

.pokeDisplay img:hover {
  scale: 1.08;
}
